@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Glagolitic&display=swap");

body {
  overflow-x: hidden;
}
h1 {
  color: rgb(13, 14, 13);
  text-align: center;
}
h3 {
  text-align: center;
  margin: 5px auto;
}

.translator {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(144, 146, 144, 0.7) no-repeat center;
}
.translator img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.up {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}
textarea {
  border-radius: 10px;
}
.btn-translate {
  margin-top: 20px;

  background-color: teal;
  color: white;
  font-weight: 500;
}
.down {
  display: flex;
  flex-direction: column;
  flex: 1;

  align-items: center;
}
.clearText {
  margin-top: 20px;
  background-color: rgb(240, 84, 84);
  color: white;
}
.copyToClipboardButton {
  background-color: lightblue;
  margin-top: 20px;
}
select {
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
  text-align: center;
  background-color: rgb(163, 155, 156);
  padding: 5px;
  color: white;
  font-weight: 500;
  outline: none;
  margin-bottom: 10px;
}
select:hover {
  transition: all 0.5s ease;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    -44px 16px 30px 2px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, -44px 16px 30px 2px rgba(0, 0, 0, 0);
}

.btn {
  width: 100%;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.btn:hover,
textarea:hover {
  transition: all 0.5s ease;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    -44px 16px 30px 2px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, -44px 16px 30px 2px rgba(0, 0, 0, 0);
}
#transText {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 3px;
  transition: all 0.5s ease;
  padding: 10px;
}
.text2 {
  font-family: "Noto Sans Glagolitic", sans-serif;
  font-size: 25px;
}
@media screen and (min-width: 1024px) {
  .translator {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  textarea {
    margin: 0%;
    height: 80%;
    width: 80%;
    align-items: center;
    justify-content: center;
    justify-content: center;
  }
  .btn {
    width: 50%;
    margin: 20px;
  }
  .up {
    margin: 0;
    padding: 0;
    align-items: center;
    height: 50%;
  }
  .down {
    margin: 0;
    padding: 0;
    align-items: center;
    height: 50%;
  }
  h1 {
    position: absolute;
    left: 45%;
    top: 10%;
  }
  h3 {
    margin-bottom: 20px;
    padding: 0;
    margin: 0;
  }
  .clearText {
    position: absolute;
    bottom: 18%;
    left: calc(50% - 150px);
    width: 250px;
    margin-top: 20px;
  }
  .copySucess {
    position: absolute;
    bottom: 5%;
    left: calc(50%- 30px);
  }
  select {
    position: absolute;
    bottom: 10%;
    left: calc(50% - 130px);
    width: 250px;
  }
}
